.container {
  display: flex;
  gap: 10px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 20%;
}
div h2 {
  text-align: center;
  color: gold;
}
h1 {
  text-align: center;
  font-size: larger;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-decoration: overline red 5px;
}

div h3 {
  text-align: center;
  font-weight: 300;
  text-decoration: underline 3px firebrick;
}

.box2 {
  width: 200px;
  height: 200px;
  background-image: url(./ico.png);
  background-color: green;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-position: center;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  border-radius: 20%;
  background-image: url(./tiger.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
